<div *ngIf="car">
    <h3>{{car.brand | uppercase}} Details</h3>
    
    <div (click)="clickChassis()">
        <h4>Chassis</h4>
        <div *ngIf="clickedChassis">    
            <app-chassis-detail [chassisDescription]="car.chassisDescription" [chassisCodeNumber]="car.chassisCodeNumber"></app-chassis-detail>
        </div>
    </div>
    <div (click) = "clickEngine()">
        <h4>Engine</h4>
        <div *ngIf="clickedEngine">
            <app-engine-detail [engineDescription]="car.engineDescription" [engineCylindersNumber]="car.engineCylindersNumber"></app-engine-detail>
        </div>
    </div>

    <div (click) = "clickUsers()">
        <h4>Users</h4>
        <div *ngIf="clickedUsers">
            <app-user-list-detail [usersName]="car.usersName"></app-user-list-detail>
        </div>
    </div>

</div>